<div class="container-fluid">
    <form novalidate name="addMovieForm">
        <div class="form-group">
            <label for="title">Title</label>
            <input ng-model="movieToAdd.title" name="title" type="text" class="form-control"
                   id="title" placeholder="Title" required>
            <span style="color:red" ng-show="addMovieForm.title.$invalid">
                <span ng-show="addMovieForm.title.$error.required">Title is required.</span>
            </span>
        </div>
        <div class="form-group">
            <label for="director">Director</label>
            <input ng-model="movieToAdd.director" name="director" type="text" class="form-control"
                   id="director" placeholder="Director" required>
            <span style="color:red" ng-show="addMovieForm.director.$invalid">
                <span ng-show="addMovieForm.director.$error.required">Director is required.</span>
            </span>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input ng-model="movieToAdd.description" name="description" type="text" class="form-control"
                   id="description" placeholder="Description" required>
            <span style="color:red" ng-show="addMovieForm.description.$invalid">
                <span ng-show="addMovieForm.description.$error.required">Description is required.</span>
            </span>
        </div>
        <div class="form-group">
            <label for="release_date">Release date</label>
            <input ng-model="movieToAdd.release_date" name="release_date" type="text" class="form-control"
                   id="release_date" placeholder="Release date" required>
            <span style="color:red" ng-show="addMovieForm.release_date.$invalid">
                <span ng-show="addMovieForm.release_date.$error.required">Release date is required.</span>
            </span>
        </div>
        <div class="form-group">
            <label for="running_time">Runtime</label>
            <input ng-model="movieToAdd.running_time" name="running_time" type="text" class="form-control"
                   id="running_time" placeholder="Runtime" required>
            <span style="color:red" ng-show="addMovieForm.running_time.$invalid">
                <span ng-show="addMovieForm.running_time.$error.required">Runtime is required.</span>
            </span>
        </div>
        <div class="form-group">
            <label for="cover_url">Cover URL</label>
            <input ng-model="movieToAdd.cover_url" name="cover_url" type="text" class="form-control"
                   id="cover_url" placeholder="Cover URL" required>
            <span style="color:red" ng-show="addMovieForm.cover_url.$invalid">
                <span ng-show="addMovieForm.cover_url.$error.required">Cover URL is required.</span>
            </span>
        </div>

        <div class="form-group">
            <label for="cast">Cast members</label>
            <input ng-model="$ctrl.query" name="cast" type="text" class="form-control"
                   id="cast" placeholder="Actor name" required>
            <select class="custom-select">
                <option selected>None</option>
                    <option ng-repeat="actor in $ctrl.allActors | filter:$ctrl.query"
                            ng-model="actorId" value="actor.id">
                        {{actor.first_name + ' ' + actor.last_name}}
                    </option>
            </select>
            <button ng-click="addActor(actorId)" type="button" class="btn btn-outline-primary">Add</button>


            Selected: <span ng-repeat="actor in $ctrl.actorsId">{{actor}}</span>

        </div>

        <a href="#!/movies">
            <button ng-click="addMovie(movieToAdd)" type="submit" class="btn btn-dark" ng-disabled="addMovieForm.title.$invalid
                || addMovieForm.director.$invalid || addMovieForm.description.$invalid ||
                addMovieForm.release_date.$invalid || addMovieForm.running_time.$invalid ||
                addMovieForm.cover_url.$invalid">Submit</button>
        </a>
        <a href="#!/movies">
            <button type="button" class="btn btn-outline-danger">Cancel</button>
        </a>

    </form>
</div>