<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="movie-images">
        <img src="{{$ctrl.movie.cover_url}}" class="movie"/>
      </div>
  </div>
  <div class="col-lg-8">
    <h3>{{$ctrl.movie.title}}</h3>
    <p>Directed by {{$ctrl.movie.director}}</p>
    <p>Release date: {{$ctrl.movie.release_date}}</p>
    <p>Runtime: {{$ctrl.movie.running_time}} min</p>
    <p>{{$ctrl.movie.description}}</p>
    <p>
      Genres:
      <p ng-repeat="category in $ctrl.categories">
        {{category.name}}
      </p>
    </p>
    </div>
  </div>
  <h3>Cast</h3>
  <div class="row">
    <div ng-repeat="actor in $ctrl.actors" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="card border-1 shadow vh-50">
        <a href="#!/actors/{{actor.id}}">
          <img class="card-img" src={{actor.picture_url}} alt="{{actor.first_name + ' ' + actor.last_name}}">
          <div class="text">
            {{actor.first_name + ' ' + actor.last_name}}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>